
<div class="card">
    <img class="card-img-top" [src]="product.imageUrl" alt="{{ product.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text font-weight-bold">Price: ${{ product.price }}</p>
      <div>
        <span class="text-warning">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
        </span>
    </div>

    </div>
    <div class="card-footer text-center">
      <button class="btn btn-outline-primary" >Add to Cart <i class="fas fa-shopping-cart"></i></button>
    </div>
  </div>
  