
<nav *ngIf="!isLoginOrSignup()" class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid ms-5 me-4">
        <a class="navbar-brand ms-4" href="#">TRENDWEAR</a>
  
        <button class="navbar-toggler ms-auto" type="button" (click)="toggleNavbar()" aria-controls="navbarNav" aria-expanded="isNavbarOpen" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bar"></i></span>
        </button>

        <!-- Links section --> 
        <div class="collapse navbar-collapse ms-3" [ngClass]="{'show': isNavbarOpen}" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us">CONTACT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#product_listing">SHOP</a>
                </li>
            </ul>


            <!-- Icon section links -->
            <div class="icon-section d-flex align-items-center me-5 gap-3 ms-3 mt-2">
                <i class="fas fa-search search-icon" (click)="scrollToSearchBar()"></i>
                <a class="nav-link" href="/checkout"><i class="fas fa-shopping-cart ms-3" href="/checkout"></i></a>
                <a class="nav-link" href="/login"><i class="fa fa-user ms-1 mb-1"href="/login"></i></a>
            </div>
        </div>
    </div>
</nav>
